/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --background-color:#f7f7f7;
    --sectionPadding: 90px;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--background-color);
    max-width: 100vw;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style: none;
}

/* End Global Rules */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #000000cc;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.09px;
}

header .container::after {
    content: "";
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 15px;
}

header nav .toggle-menu {
    width: 20px;
}

@media (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);

}


header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;

}

@media (max-width: 767px) {
    nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: rgb(0 0 0/ 60%);
        left: 0;
    }

    header nav .toggle-menu:hover+ul li a {
        padding: 15px;
    }

}

ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */
/* Start landing */
.landing {
    background-image: url("../assets/landing-2.jpg");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    background-color: #1f2021;
}

.landing .text {
    padding-left: 90px;
    color: white;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 65%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;

}

@media (max-width: 767px) {
    .landing .text a button{
        width: 30%;
    }
    .landing .text {
        width: 100%;
        padding-left: 15%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;

    }
    

    .landing .text .content {
        max-width: 100%;
    }

    .landing .change-background {
        display: none;
    }

}

.landing .content {
    max-width: 500px;
}


.landing .content h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.8;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.landing .text{
    display: flex;
    flex-direction: column;
}
.landing .text a {
    width: fit-content;
    border-radius: 40px;
}
.landing .text a button{
    color: #21233C;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 40px;
    margin-top: 20px;
    letter-spacing: 1.4px;
    cursor: pointer;
}
.landing .text a button:hover{
    background-color: rgb(235,192,63);

}
@media (max-width: 767px) {
    .landing .text a button{
        width: 80%;
    }
    .landing .content p{
        max-width: 85%;
    }
}

/* Start SERVICES */
.SERVICES {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    width: 100%;
}

.SERVICES .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 53px;
}
@media (max-width: 767px) {
    .SERVICES .service-content {
        grid-template-columns: repeat(1,1fr);
    }
}

.SERVICES .col .srv {
    display: flex;
    margin-bottom: 55px;
}

@media (max-width: 767px) {
    .SERVICES .col .srv {
        flex-direction: column;
        text-align: center;
    }
    /* .SERVICES {
        width: 89%;
    } */
    
}

.SERVICES .col .srv i {
    flex-basis: 60px;
    margin-right: 61px;
}
@media (max-width: 767px) {
.SERVICES .col .srv i{
    margin-right: 0;
}}
.SERVICES .col .srv .txt {
    flex: 1;
}

.SERVICES .col .srv h3 {
    color: var(--main-color);
    margin-bottom: 33px;
}

.SERVICES .col .srv h3+p {
    color: #777;
    line-height: 2;
}

/* End SERVICES */
































        /* Start ourTeam */
        .our-team{
            height: 100vh;
        }
        .our-team .text{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .our-team .text p {
            margin-top: 20px;
            background-color: rgb(206 218 153);
            width: fit-content;
            border-radius: 20px;
            padding: 6px 17px;
            font-size: 14px;
            font-weight: 600;
            color: rgb(66, 64, 64);
        }
        .text h1{
            text-align: center;
            width: 39%;
            margin-bottom: 40px;
        }
        .images{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
            gap: 53px;
            justify-content: center;
            align-items: center;
        }
        .card{
            width: 100%;
            height: calc(100% - 100px);
            border-radius:66px;
            background: #e0e0e0;
            box-shadow:  33px 33px 66px #a4a4a4,
            -33px -33px 66px #ffffff;
            position: relative;
            margin-bottom: 50px;
        }
        .card > img{
            width: 100%;
            height: 100%;
            border-radius:66px;
        }
        .card .data{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius:66px;
            background-color: rgba(0, 0, 0, 0.63);
            top: 0;
            opacity: 0;
            transition: 0.3s;
        }
        .card .data{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            text-align: center;
        }
        .card .data h4{
            margin-bottom: 10px;

        }
        .card .data p{
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .card .data .icon{
            display: flex;
            gap: 15px;
        }
        .card:hover .data{
            opacity: 1;

        }
        .card .icon  a{
            color: rgb(204, 199, 199);
        
        }

/* End ourTeam */


/* Start supscribe */
.supscribe {
    background-image: url("../assets/subscribe.jpg");
    background-size: cover;
    max-width: 100%;
    position: relative;
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    color: white;
}

.supscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.supscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

@media(max-width: 768px) {
    .supscribe .container {
        flex-direction: column;
    }
    .supscribe{
        max-width: 100vw;
    }

}

.supscribe .container form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.supscribe .container form i {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
}

.supscribe .container form input[type="email"] {
    background-color: transparent;
    border: 1px solid white;
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);
    border-right: none;
    caret-color: var(--main-color);
}
.supscribe .container form input[type="email"]:focus {
    color: white;
  }
.supscribe .container form ::placeholder {
    color: white;
}

.supscribe .container form input[type="submit"] {

    background-color: var(--main-color);
    padding: 10px 20px;
    width: 130px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.supscribe .container form input[type="email"]:focus,
.supscribe .container form input[type="submit"]:focus {
    outline: none;
}

.supscribe .container p {
    margin-left: 20px;
    line-height: 1.8;
}

@media(max-width: 768px) {
    .supscribe .container p {
        margin-top: 30px;
    }
}

/* End supscribe */
/* Start contact-head  */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 60px;
    position: relative;
    text-transform: uppercase;
    width: 99%;
}

.main-heading h2::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -29px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    width: 125px;
    border: 1px solid black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.main-heading p {
    width: 600px;
    margin: 0 auto 100px;
    line-height: 1.8;
    max-width: 100%;
    color: #777;
}

.contact-head {
    
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.contact-head .content {
    display: flex;
    justify-content: space-between;
}
@media(max-width: 767px){
    .contact-head .content{
        flex-direction: column;
    }
    .main-heading p{
        max-width: 75%;
    }
}
.contact-head .content form {
    flex-basis: 70%;
}

.contact-head .content form .main-text {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    border: 1px solid #dedadc;
}
.contact-head .content form .main-text:focus{
    outline: none;
}

.contact-head .content form input[type="submit"] {
    cursor: pointer;
    margin-left: auto;
    display: block;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 17px;
    text-transform: uppercase;
}

.contact-head .content .info {
    flex-basis: 25%;
}
@media(max-width: 767px){
    .contact-head .content .info {
        order: -1;
        text-align: center;
    }
}
.contact-head .content .info h4 {
    font-weight: 800;
    margin-bottom: 30px;
}

.contact-head .content .info .phone {
    display: block;
    margin-bottom: 14px;
    color: #777;
    font-size: 15px;
}

.contact-head .content .info h4:nth-of-type(2) {
    margin-top: 69px;
}
@media(max-width: 767px){
    .contact-head .content .info h4:nth-of-type(2) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.contact-head .content .info address {
    line-height: 2;
    color: #777;
}
@media(max-width: 767px){
    .contact-head .content .info address{
        margin-bottom: 20px;
    }
}
/* End contact-head */





/* End landing */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}